.container {
    max-width: 100%;
    /* Ajustado el ancho para que las columnas queden en la misma línea */
    margin: 50px auto;
    color: #ffffff;
}

/* Estilos para las gráficas */
.grafica-container {
    margin-bottom: 15px;
    margin: 10%;
    /* Espacio entre las gráficas */
}

.grafica-container canvas {
    border: 2px solid rgba(0, 0, 0, 0.5);
    /* Color y estilo del borde */
    border-radius: 8px;
    /* Borde redondeado */
}


.dark-mode {
    background-color: #222;
    /* Cambiar el color de fondo para el modo oscuro */
    color: #fff;
    /* Cambiar el color del texto para que sea legible en el fondo oscuro */
}

.dark-mode .row {
    color: white;
}

.dark-mode .chart-text {
    color: white;
    /* Color del texto en modo oscuro */
}