#boton-envio {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#mensaje {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
}

.oculto {
  visibility: hidden;
}
