<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow access to /dentista_corona/assets/
    RewriteRule ^dentista_corona/assets/ - [L]
    RewriteRule ^pages/inicio/panel_principal$ /dentista_corona/assets/pages/inicio/panel_principal.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Exclude existing files and directories from rewriting
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Rewrite URLs without .php extension
    RewriteRule ^([^/]+)/?$ $1.php [L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
